In [41]:
import pandas as pd
import numpy as np

In [37]:
edp = pd.read_csv('EDP_quote_chart.csv')

               time       EDP  EDP( volume )
0  2003-10-27 00:00  1.920533        4126078
1  2003-10-28 00:00  1.910931        6698690
2  2003-10-29 00:00  1.891726        1549004
3  2003-10-30 00:00  1.882123        5356648
4  2003-10-31 00:00  1.872520        5949040

In [39]:
edp['time'] = edp['time'].apply(lambda x: x[:4])

In [47]:
edp = edp.groupby(by = 'time', as_index = False).agg(np.mean)

In [48]:
edp.drop(columns = 'EDP( volume )', inplace = True)

In [50]:
edp.to_csv('edp.csv', sep = '|', index = False)